/* ==================== RESET ==================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

img {
  display: block;
}

/* General */

body{
    font-family: 'Roboto', sans-serif;
    color: gray;
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    color: black;
}

.section{
    padding: 16px 32px;
    min-height: 100vh;
}

.icon{
    width: 40px;
    height: auto;
}

.icon img, .icon svg{
    transition: transform 0.25s ease;
}

.icon a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.icon a svg{
    margin: auto;
}


.icon img:hover, .icon svg:hover{
    transform: scale(1.1);
}

h1{
  font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
    font-weight: 600;
    margin-bottom: 32px;
}

h2{
    font-size: clamp(1.6rem, 1.2rem + 1.5vw, 2.4rem);
    font-weight: 600;
    margin-bottom: 24px;
}

h3{
    font-size: clamp(1.3rem, 1rem + 1vw, 1.8rem);
    margin-bottom: 16px;
}

p{
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
    margin-bottom: 8px;
}

.fit-image{
    object-fit: cover;
    object-position: left;

    box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.15);
}

/* About */

.about{
    position: relative;
    background: linear-gradient(165deg, #c56e03 0%, #c56e03 50%, white 50%, white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    position: relative;
    float: left;
    margin-right: 16px ;
}

.hero h1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4px;
    
    color: white;
    text-align: center;
}

.hero img{
    width: 100%;
    max-width: 500px;
    min-height: 700px;
}

.about-content{
    padding: 16px;
    margin-top: 128px;
    background-color: white;
}

nav ul{
    display: flex;
    list-style: none;

    gap: 16px;
    justify-content: flex-end;
    align-items: center;

    padding: 0;
}

a{
    color: inherit;
}
a:hover{
    text-decoration: none;
}

/* Works */


.games-container{
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));

}

.game-card{
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 16px;
    background-color: white;
}

.game-card img{
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: border-radius 0.25s ease;
}

.game-card header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.game-card h3{
    margin: 0;
}

.game-card:hover img{
    border-radius: 16px;
}


/* Contacts */
.about nav ul, .contact nav ul{
    margin: 16px 0;
}

.contact h2{
    color: white;
}

.contact p{
    opacity: 0.85;
}

.contact{
    background-color: #c56e03;
    color: white;
}

.contact .fit-image{
    height: 600px;
    width: 100%;
    
    object-position: top left;
}

.contact nav ul{
    justify-content: flex-start;
    padding: 0;
}

.contact div{
    margin-bottom: 16px;
}

@media (max-width:1024px) and (min-width:769px){
    .hero h1{
        position: absolute;
        top: 0;
        right: 0;

        transform: translate(100%, 0);
        
        color: white;
        text-align: left;
    }

    .hero img{
        max-width: 300px;
        min-height: 400px;
    }
}
@media (max-width:768px){
    .section{
        padding: 8px;
    }

    .games-container{
        grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
    }

    .about-wrapper{
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .hero{
        float: none;
        margin-right: 0;
    }

    .hero img{
        min-height: auto;
    }

    .about-content{
        margin-top: 16px;
    }

    .section + .section{
        margin-top: 64px;
    }

    .section h2{
        text-align: center;
    }

    .about nav ul, .contact nav ul{
        justify-content: center;
    }
}